{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "mocha": true
  },
  "extends": "airbnb",
  "rules": {
    "comma-dangle": "off",
    "func-names": "off",
    "global-require": "warn",
    "no-console": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id", "__REDUX_DEVTOOLS_EXTENSION__"] }],
    "no-unused-vars": "warn",
    "no-unused-expressions": "off"
  }
}
