# System files
.DS_Store

# Secrets
.pem

# Logs
*.log

# Compiled Directories (http://nodejs.org/api/addons.html)
public/

# Dependency directories
# Deployed apps should consider commenting these lines out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules/

# Eslint Cache
.eslintcache
*.eslintcache
