language: node_js
node_js:
- '7.8'
services: mongodb
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - autoconf
      - automake
      - libtool
cache:
  bundler: true
  directories:
  - node_modules # NPM packages

before_install:
 - mv ./server/config/config.example.js ./server/config/config.js
