.footer {
  color: #4b6ecc;
  text-align: right;
  padding: 24px;
  background: #fff;
}
.logo {
  margin-top: 200px
}

.surveyPic {
  top: 0% !important;
  right: 90px !important;
}

.actionButtons{
  outline-offset: 20px;
}