/* LAYOUT */

.center {
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
  padding: 0 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layout-semiwhole {
  width: 100%;
  max-width: 45rem;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
}

.layout-whole {
  width: 100%;
}

.layout-half {
  float: left;
  width: 50%;
}

.layout-major {
  float: left;
  width: 70%;
}

.layout-minor {
  float: left;
  width: 30%;
}
