@import url("reset.css");
@import url("media-object.css");
@import url("layout.css");
@import url("list.css");
@import url("jumbotron.css");
@import url("fancy-links.css");
@import url("inline-edit.css");
@import url("question.css");

/* GENERAL */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  text-size-adjust: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

p {
  font-weight: lighter;
}

a {
  color: #3498DB;
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-size: 2.441rem;
  font-weight: lighter;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.44rem;
  font-weight: lighter;
}

/* MISCELLANEOUS */

.header .logo {
  height: 1.5rem !important;
  margin-bottom: 1.5rem;
}

.header .right {
  float: right;
  font-size: .85rem;
}

footer {
  color: #888;
  font-size: .85rem;
  text-align: center;
  padding: 1rem;
}

.github {
  display: inline;
  width: 32px !important;
  height: 32px !important;
}

.actions {
  height: 4.25rem;
  padding: .65rem 0;
}

.floatingActionButton {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.button {
  margin: 1.5rem 0;
}

.close {
  float: right;
}

.copy {
  width: 250px;
  height: 100px;
  padding-left: 10px;
}

.link {
  padding-top: 5px;
}

input.url {
  width: 200px;
  font-size: 10pt;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 8px;
}

.copybtn {
  height: 30px;
  position: absolute;
}

.copybtn:hover {
  border-color: rgba(27,31,35,0.35);
}

.clipboard {
  width: 30px;
  height: 30px;
  padding-top: 3px;
}

.no-surveys {
  color: #AAA;
}
