@import url("reset.css");
@import url("media-object.css");
@import url("layout.css");
@import url("list.css");
@import url("jumbotron.css");
@import url("fancy-links.css");

/* GENERAL */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  text-size-adjust: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1.125em;
  line-height: 1.5;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

p {
  font-weight: lighter;
}

a {
  color: #3498DB;
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-size: 2.25rem;
  font-weight: lighter;
  margin-bottom: 1rem;
}

/* MISCELLANEOUS */

.header .logo {
  height: 1.5rem !important;
  margin-bottom: 1.5rem;
}

.header .right {
  float: right;
  font-size: .85rem;
}

footer {
  color: #888;
  font-size: .85rem;
  text-align: center;
  padding: 1rem;
}

.github {
  display: inline;
  width: 32px !important;
  height: 32px !important;
}

.actions {
  height: 4.25rem;
  padding: .65rem 0;
}

.actions > * {
  float: right;
}

.floatingActionButton {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.button {
  margin: 1.5rem 0;
}
