@import url("reset.css");

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  text-size-adjust: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1.125em;
  line-height: 1.5;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #3498DB;
  cursor: pointer;
  text-decoration: none;
}

h1 {
  color: #666;
  font-size: 2.369rem;
  font-weight: lighter;
  margin-bottom: 1rem;
}

/*
 * MEDIA OBJECT
 * http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 */
.media {margin:1rem;}
.media, .media-body {overflow:hidden; _overflow:visible; zoom:1;}
.media .img {float:left; margin-right: 1rem;}
.media .img svg, .media .img img {display:block;}
.media .imgExt{float:right; margin-left: 1rem;}

/* FLOATING ACTION BUTTON */

.floatingActionButton {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

/* LAYOUT */

.center {
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
  padding: 0 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layout-semiwhole {
  width: 100%;
  max-width: 45rem;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
}

.layout-whole {
  width: 100%;
}

/* LIST */

.list-item {
  border-top: .08rem solid #EEE;
  padding: 1rem 0;
  margin: 0;
}

.list-item .primary {
  font-size: 1.333rem;
  font-weight: lighter;
}

.list-item .secondary {
  color: #888;
  font-size: .85rem;
}

.list-item-body,
.list-item-actions {
  float: left;
  width: 50%;
}

.list-item-actions {
  text-align: right;
}

.list-item svg,
.list-item img {
  width: 3rem !important;
  height: 3rem !important;
}

/* JUMBOTRON */

.jumbotron {
  background: #2980B9;
  color: #FFF;
  height: 100vh;
  position: relative;
  text-align: center;
  overflow: hidden;
}

  .jumbotron h1 {
    font-size: 2.369rem;
    font-weight: lighter;
    margin-top: .25rem;
  }

  .jumbotron h2 {
    font-size: 1.333rem;
    font-weight: lighter;
  }

  .jumbotron h1 + h2 {
    margin-bottom: 2rem;
  }

  .jumbotron .links {
    position: absolute;
    top: 0;
    right: 0;

    text-align: right;
    padding: 2rem;
  }
  .jumbotron .links > a {
    margin-right: -.5rem;
  }

  .jumbotron a {
    color: #FFF;
  }

.button {
  margin: 1.5rem 0;
}

/* FANCY LINKS */

a.fancy {
  vertical-align: baseline;
  color: #3498DB;
  border-bottom: .08rem solid #EEE;
  margin: 0 .125rem;
}

a.fancy:hover {
  border-bottom: 1px solid #3498DB;
}

a.fancy:visited {
  color: #2980B9;
}

/* FOOTER */

footer {
  color: #888;
  font-size: .85rem;
  text-align: center;
  padding: 1rem;
}

/* MISCELLANEOUS */

.github {
  display: inline;
  width: 32px !important;
  height: 32px !important;
}

.logo {
  width: 5.3rem !important;
  height: 5.3rem !important;
}
