@import url("reset.css");

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  text-size-adjust: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1.125em;
  line-height: 1.5;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.light a {
  vertical-align: baseline;
  color: #3498DB;
  cursor: pointer;
  text-decoration: none;
  border-bottom: .08rem solid #EEE;
  margin: 0 .125rem;
}

.light a:hover {
  border-bottom: 1px solid #3498DB;
}

.light a:visited {
  color: #2980B9;
}

.jumbotron {
  background: #2980B9;
  color: #FFF;
  height: 100vh;
  position: relative;
  text-align: center;
  overflow: hidden;
}

  .jumbotron h1 {
    font-size: 2.369rem;
    font-weight: lighter;
    margin-top: .25rem;
  }

  .jumbotron h2 {
    font-size: 1.333rem;
    font-weight: lighter;
  }

  .jumbotron h1 + h2 {
    margin-bottom: 2rem;
  }

  .jumbotron .links {
    position: absolute;
    top: 0;
    right: 0;

    text-align: right;
    padding: 2rem;
  }
  .jumbotron .links > a {
    margin-right: -.5rem;
  }

  .jumbotron a {
    color: #FFF;
  }

.button {
  margin: 1.5rem 0;
}

.center {
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  color: #888;
  font-size: .85rem;
  text-align: center;
  padding: 1rem;
}

.github {
  display: inline;
  width: 32px !important;
  height: 32px !important;
}

.logo {
  width: 5.3rem !important;
  height: 5.3rem !important;
}
