/*
 * Sources:
 * main.css https://github.com/callemall/material-ui/blob/master/docs/src/www/css/main.css
 * mui-github-markdown.css https://github.com/callemall/material-ui/blob/master/docs/src/app/components/mui-github-markdown.css
 */

a {
  color: #ff4081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


footer {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 100%;
  color: #AAAAAA;
  text-align: right;
}

.github {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 32px;
  height: 32px;
}

.landing-outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.landing-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.floatingActionButton {
  display: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
}

.logo {
  width: 160px;
}
